html,
body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  background: #3b5998;
  background: #3b5998;
  color: #fff;
  min-height: 89px;
  width: 100%;
}

.brand {
  float: left;
}

.brand img {
  width: 23%;
}

.menu {
  float: right;
  padding-right: 60px;
  padding-top: 15px;
}

.menu ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 41px;
  cursor: pointer;
  font-size: 20px;
}

.container_body {
  background: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col_wrap {
  width: 95%;
  height: 60vh;
  margin: 0 auto;
}

.col_wrap .col_1 {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  background: #ffff;
  border-right: #ccc;
  padding: 10px;
  background-color: white;
  height: 500px;
}

.col_wrap .col_2 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  background: #ffff;
  height: 480px;
}

.col_wrap .col_2 .row_1 {
  padding: 10px;
  background: #333;
  color: #fff;
  height: 50%;
}

.col_wrap .col_2 .row_2 {
  padding: 10px;
  background: #eee;
  color: #fff;
  height: 50%;
}
